<div class="home-wraper">
    <div class="block-item block-welcome">
        <h1>This is the website of the Goodlow Evangelical Free Church.</h1>
        <h3>We trust that your visit will be both informative and enjoyable. Should you require additional information
            please contact Pastor John Marshall.</h3>
    </div>
    <div class="block-item block-sermon" id="SermonBuilderHome">
        <h1>This Week's Message</h1>
    </div>
    <div class="block-item block-pastor" display="none">
        <h1>Our Pastor</h1>
        <Image src="/MediaFiles/photos/John.jpg" alt="pastor john" class="pastorImage"/>
        <p> Pastor John has served as pastor in several locations across Canada. Prior to coming
            to Goodlow in 2014, John pastored in 100 Mile House. Between 2004 and 2007, he pastored in
            Abbotsford, BC (with an addiction recovery ministry). Between 2000 and 2004, John served in
            Toronto, ON - in a multi-ethnic, inner city church. John and his wife Grace have been happily
            married for more than Fifty years. They have three adult children, seven grandchildren and one
            great-grandson. The Marshalls&apos; proclamation of the Gospel, their discipling and equipping of the
            body are Christ-centered, spirit-led, passionate and innovative. Their ministry includes preaching
            and teaching God&apos;s word; counseling, Gospel music, puppetry and ventriloquism.</p>
    </div>
    <div class="block-item block-video">
        <h1>Recent Video Message</h1>
        <div class="youtubeHome">
        <iframe class="youtube" id="YoutubeBuilderHome" title="Recent Message" src="https://www.youtube.com/embed/Aji9k4KhrWo" frameBorder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowFullScreen></iframe>
        </div>
    </div>
    <div class="block-item block-map">
        <h1>Location</h1>
            <iframe class="maps" title="Map of Goodlow Church area" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d42083.0607599594!2d-120.15529880766667!3d56.33468921604775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1b9f0ddc1e8f232d!2sEvangelical%20Church%20Of%20Goodlow!5e0!3m2!1sen!2sca!4v1648672821593!5m2!1sen!2sca"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="block-item block-stat">
        <h1>Statement of Faith</h1>
        <p>God&apos;s gospel originates in and expresses the wondrous perfections of the eternal, triune God. </p>
        <p>
            God&apos;s gospel is authoritatively revealed in the Scriptures.<br/>
            God&apos;s gospel alone addresses our deepest need.<br/>
            God&apos;s gospel is made known supremely in the Person of Jesus Christ.<br/>
            God&apos;s gospel is accomplished through the work of Christ.<br/>
            God&apos;s gospel is applied by the power of the Holy Spirit.<br/>
            God&apos;s gospel is now embodied in the new community called the church.<br/>
            God&apos;s gospel compels us to Christ-like living and witness to the world.<br/>
            God&apos;s gospel will be brought to fulfillment by the Lord Himself at the end of this age.<br/>
            God&apos;s gospel requires a response that has eternal consequences.<br/>
        </p>
        <a href="stat" class="curse btn btwidemob">Read More...</a>
    </div>

    <!--TODO:Add system for the adult class-->
    <div class="block-item block-event ">
    <h1>Weekly Events</h1>
    <div id="week-event">
        <h2>
            Sunday Service
        </h2>
        <h3>
            At 11:00AM
        </h3>
    </div>
    <div id="week-event" style="display:none;">
        <h2>
            Sunday School
        </h2>
        <h3>
            At 9:45AM
        </h3>
    </div>
    <div id="week-event">
        <p>
            Current weekly events are listed in the most recent bulletin.
        </p>
    </div>
    </div>
</div>
<script>
    GetYoutubeVideo();
    GetHomeSermon();
</script>
